@media screen and (max-width: 1150px) {
  .content-main-top h1 {
    width: 58rem;
  }

  .content-main-top h2,
  .content-main-top p,
  .img-predios {
    width: 54rem;
  }

  .section-content-top,
  .section-content-bottom {
    width: 54rem;
  }

  .section-content-top h1,
  .section-content-bottom h1 {
    font-size: 2.8rem;
  }

  .content-text h2 {
    font-size: 1.5rem;
  }

  .content-text h3 {
    font-size: 1.3rem;
  }

  .content-text p,
  .content-text ul,
  .content-text ol {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .content-main-top h1 {
    width: 54rem;
  }

  .content-main-top h2,
  .content-main-top p,
  .img-predios {
    width: 50rem;
  }

  .section-content-top,
  .section-content-bottom {
    width: 50rem;
  }

  .section-content-top h1,
  .section-content-bottom h1 {
    font-size: 2.6rem;
  }

  .content-text h2 {
    font-size: 1.4rem;
  }

  .content-text h3 {
    font-size: 1.4rem;
  }

  .content-text p,
  .content-text ul,
  .content-text ol {
    font-size: 1.2rem;
  }

  .bottom-div-analise-top,
  .bottom-div-analise-bottom {
    flex-direction: column;
    height: 40rem;
  }

  .forca,
  .fraquezas,
  .oportunidades,
  .ameacas {
    width: 30rem;
  }

  /* PÁGINA SOBRE */
  .content-left-sobre,
  .content-right-sobre {
    padding-top: 4rem;
  }

  .title-sobre {
    font-size: 36px;
    margin-bottom: 0.8rem;
  }

  .text-sobre {
    width: 90%;
    font-size: 16px;
  }

  .content-right-sobre img {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .content-main-top h1 {
    width: 85%;
    font-size: 1.7rem;
  }

  .content-main-top h2 {
    width: 85%;
    font-size: 1.3rem;
  }

  .content-main-top p {
    width: 85%;
    font-size: 1.1rem;
  }

  .img-predios {
    width: 80%;
  }

  .section-content-top,
  .section-content-bottom {
    width: 85%;
  }

  .section-content-top h1,
  .section-content-bottom h1 {
    font-size: 2.4rem;
  }

  .content-text h2 {
    font-size: 1.2rem;
  }

  .content-text h3 {
    font-size: 1.2rem;
  }

  .content-text p,
  .content-text ul,
  .content-text ol {
    font-size: 1rem;
  }

  /* PÁGINA SOBRE */
  .content-left-sobre {
    width: 60%;
  }

  .title-sobre {
    font-size: 28px;
    margin-bottom: 0.8rem;
  }

  .text-sobre {
    font-size: 15px;
    width: 88%;
  }

  .content-right-sobre {
    width: 40%;
  }

  .content-right-sobre img {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .content-main-top {
    height: 400px;
    margin-top: 50px;
  }

  .content-main-top h1 {
    width: 90%;
    font-size: 1.2rem;
  }

  .content-main-top h2 {
    width: 85%;
    font-size: 0.9rem;
  }

  .content-main-top p {
    width: 85%;
    font-size: 0.7rem;
  }

  .img-predios {
    width: 85%;
    height: 60%;
  }

  .section-content-top h1,
  .section-content-bottom h1 {
    font-size: 1.8rem;
  }

  .content-text h2 {
    font-size: 1rem;
  }

  .content-text h3 {
    font-size: 1rem;
  }

  .content-text p,
  .content-text ul,
  .content-text ol {
    font-size: 0.9rem;
  }

  .content-bottom-analise-top h2,
  .content-bottom-analise-bottom h2 {
    font-size: 1.6rem;
  }

  .forca > p,
  .fraquezas > p,
  .oportunidades > p,
  .ameacas > p {
    font-size: 1.5rem;
  }

  .caixa {
    width: 100%;
    height: 9.5rem;
    padding: 1rem;
  }

  .forca,
  .fraquezas,
  .oportunidades,
  .ameacas {
    width: 95%;
  }

  .input-forca,
  .input-fraquezas,
  .input-oportunidades,
  .input-ameacas {
    width: 12rem;
    height: 0.8rem;
    font-size: 0.8rem;
  }

  /* NAVBAR */

  .navbar {
    justify-content: space-around;
  }

  .navbar-logo img {
    margin-left: 1.3rem;
  }

  .navbar-titles {
    gap: 1rem;
  }

  .navbar-titles p {
    font-size: 13px;
  }

  .navbar-redes {
    display: none;
  }

  /* FOOTER */

  .footer-redes,
  .footer-content-left-content {
    padding-left: 2.3rem;
  }

  .footer-redes {
    visibility: visible;
    height: 30%;
  }

  .icon-redes i {
    font-size: 1.1rem;
  }

  .footer-content-left-content {
    width: 100%;
    height: 70%;
    padding-top: 0;
  }

  .footer-content-left-content h5 {
    font-size: 20px;
  }

  .footer-content-left-content a > p {
    font-size: 14px;
  }

  .footer-content-right-content {
    padding-right: 1rem;
    padding-top: 1.5rem;
  }

  .footer-content-right-content p {
    font-size: 18px;
  }

  #email,
  #name {
    width: 95%;
    height: 25px;
  }

  .addNewletter {
    width: 85px;
    height: 30px;
  }

  .footer-content-right-content2 {
    padding-right: 1rem;
    font-size: 7.5px;
  }

  .input-forca,
  .input-fraquezas,
  .input-oportunidades,
  .input-ameacas {
    width: 12rem;
    height: 0.8rem;
    font-size: 0.9rem;
  }

  .btn {
    width: 4rem;
    font-size: 0.9rem;
  }

  .caixa {
    width: 100%;
    height: 10rem;
    padding: 1rem;
  }

  .item-text {
    font-size: 0.9rem;
  }

  .back-top a {
    font-size: 1.7rem;
  }

  /* PÁGINA SOBRE */
  .section {
    height: 100%;
  }

  .all-content {
    flex-direction: column-reverse;
  }

  .content-left-sobre {
    width: 100%;
    margin-block: 2rem 1rem;
    padding-top: 0;
  }

  .title-sobre {
    font-size: 25px;
    margin-bottom: 0.8rem;
  }

  .text-sobre {
    font-size: 13px;
    line-height: 18px;
    padding: 15px;
  }

  .content-right-sobre {
    width: 100%;
  }

  .content-right-sobre img {
    width: 68%;
  }
}

@media screen and (max-width: 375px) {
  .content-main-top h1 {
    width: 85%;
    font-size: 1rem;
  }

  .content-main-top h2 {
    width: 85%;
    font-size: 0.8rem;
  }

  .content-main-top p {
    width: 85%;
    font-size: 0.6rem;
  }

  .section-content-top h1,
  .section-content-bottom h1 {
    font-size: 1.6rem;
  }

  /* NAVBAR */

  .navbar-logo img {
    margin-left: 1rem;
  }

  .navbar-titles {
    gap: 0.7rem;
  }

  /* FOOTER */

  .footer-redes,
  .footer-content-left-content {
    padding-left: 2rem;
  }

  .footer-content-left-content h5 {
    font-size: 18px;
  }

  .footer-content-left-content a > p {
    font-size: 12px;
  }

  .footer-content-right-content {
    padding-right: 1rem;
    padding-top: 1.5rem;
  }

  .footer-content-right-content p {
    font-size: 16px;
  }

  #email,
  #name {
    width: 95%;
    height: 25px;
  }

  .addNewletter {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }

  .footer-content-right-content2 {
    padding-right: 1rem;
    font-size: 7px;
  }

  .input-forca,
  .input-fraquezas,
  .input-oportunidades,
  .input-ameacas {
    width: 12rem;
    height: 0.8rem;
    font-size: 0.8rem;
  }

  .btn {
    width: 3rem;
    font-size: 0.8rem;
  }

  .caixa {
    width: 100%;
    height: 10rem;
    padding: 1rem;
  }

  .item-text {
    font-size: 0.8rem;
  }

  /* PÁGINA SOBRE */
  .content-left-sobre {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0;
  }

  .title-sobre {
    font-size: 23px;
    margin-bottom: 0.5rem;
  }

  .text-sobre {
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
  }

  .content-right-sobre {
    width: 100%;
  }

  .content-right-sobre img {
    width: 68%;
  }
}
